<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-9">
            <div class="card started_bg">
                <div class="card-body">
                    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                        <div class="row mbtm_37">
                            <div class="col-12 col-lg-8">
                                <div class="def_head">Set default options you like to see</div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <button class="btn btn-lg btn-outline-primary btn-purple float-right"
                                        type="submit">Get Started
                                </button>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input [(ngModel)]="serviceStatus.insurance" formControlName="selectService" id="selectService"  class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.insurance}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input [checked] [(ngModel)]="serviceStatus.bill_pay" formControlName="insurance" id="insurance" class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.bill_pay}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input checked="" formControlName="users" id="users"class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.investment}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input checked="" formControlName="billPay" id="billPay" class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.welth_manage}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input class="switch-input" formControlName="investment" id="investment" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.tax_mitigation}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input checked="" formControlName="wealthManagement" id="wealthManagement" class="switch-input" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.asset_protection}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary"><input class="switch-input" formControlName="manageProfile" id="manageProfile"
                                                                                           type="checkbox"><span
                                            class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.trust_services}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input class="switch-input" formControlName="taxMigration" id="taxMigration" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.business_valuation}}</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input class="switch-input" formControlName="investment" id="investment" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.cost_remediation}}</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 col-sm-3 col-form-label"><label
                                            class="switch switch-3d switch-primary">
                                        <input class="switch-input" formControlName="investment" id="investment" type="checkbox">
                                        <span class="switch-slider"></span></label></label>
                                    <div class="col-7 col-sm-9">
                                        <p class="ser_title">{{ServiceName.business_transition}}</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>