<div class="container">
    <!--Home Header Starts here-->
    <div class="d-flex flex-column flex-md-row align-items-center home_header">
        <h5 class="my-0 mr-md-auto"><img src="assets/img/vfox_logo.png" alt="VFOX"/></h5>
    </div>
    <!--Home Header Ends here-->
    <div class="row">
        <!--Home Left Container Starts here-->
        <div class="col-lg-12 text-center">
            <p class="email_ver_ico"><i class="fa fa-check-circle fa-lg mt-4"></i></p>
            <div class="home_heading">Email Verification - Success!</div>
            <div class="clearfix"></div>
            <p class="home_txt">You have successfully verified your e-mail address.
            </p>
            <a class="btn btn-outline-primary btn-outline-white" [routerLink]="['/login']">Go to Sign In</a>
        </div>
        <div class="col-lg-12 text-center" style="display:none;">
            <p class="email_ver_ico"><i class="fa fa-times-circle fa-lg mt-4"></i></p>
            <div class="home_heading">Email Verification - Failure!</div>
            <div class="clearfix"></div>
            <p class="home_txt">Your email verification link has been expired.
            </p>
            <a class="btn btn-outline-primary btn-outline-white" [routerLink]="['/home']">Back to home</a>
        </div>
        <!--Home Left Container Ends here-->
    </div>
</div>
<!--Home Footer Starts here-->
<div class="home_footer ver_em_foot"></div>
<!--Home Footer Ends here-->