<div class="container">
    <!--About Header Starts here-->
    <header-nav></header-nav>
    <!--About Header Ends here-->
    <div class="home_heading">Insurance</div>
    <div class="clearfix"></div>
    <div class="row pbtm_100">
        <div class="col-lg-12">
            <p class="sec_txt">Using our proprietary Prestige Strategy, we help individuals looking to buy large insurance policies without writing premium checks.  Many people have used real estate as a gateway to success because of their ability to leverage thru financing with 20% - 25% down payment and giving personal guarantee for the loan.  In our Prestige Strategy, we offer 100% financing with no personal guarantee.  Even interest on the loan is rolled into the loan after the first two years.  The only thing that is required to be offered for this financing is shortfall in the collateral in the first 10-11 years because this loan is 100% collateralized.</p>
        </div>
    </div>
</div>
<!--Home Footer Starts here-->
<footer-nav></footer-nav>
<!--Home Footer Ends here-->