<div class="container">
    <!--About Header Starts here-->
    <header-nav></header-nav>
    <!--About Header Ends here-->
    <div class="home_heading">Alternate Investment</div>
    <div class="clearfix"></div>
    <div class="row pbtm_100">
        <div class="col-lg-12">
            <p class="sec_txt">Most people make investments which are highly market co-related like real estate or stock and mutual funds.  These market co-related investments go up and down in value every time stock market or real estate market fluctuates.</p>
            <p class="sec_txt">VFOX believes that it is possible to mitigate market risk and yet earn very high returns on investments.</p>
           </div>
    </div>
</div>
<!--Home Footer Starts here-->
<div class="home_footer m_home_footer"></div>
<!--Home Footer Ends here-->