<div class="container">
    <!--About Header Starts here-->
    <header-nav></header-nav>
    <!--About Header Ends here-->
    <div class="home_heading">Qualified Leverage Strategy</div>
    <div class="clearfix"></div>
    <div class="row pbtm_100">
        <div class="col-lg-12">
            <p class="sec_txt">Please watch the following videos to learn about our Qualified Leverage Strategy</p>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-3">
                    <p>
                        <iframe class="qls_video" src="https://player.vimeo.com/video/208865306" border="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        </iframe>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <iframe class="qls_video" src="https://player.vimeo.com/video/210301567" border="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        </iframe>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <iframe class="qls_video" src="https://player.vimeo.com/video/210301742" border="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        </iframe>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <iframe class="qls_video" src="https://player.vimeo.com/video/210301897" border="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        </iframe>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="sec_txt">If you want to learn more about our QLS program please feel free to '<a
                    [routerLink]="['/contact']">Contact Us</a>'</p>
        </div>
    </div>
</div>
<!--Home Footer Starts here-->
<footer-nav></footer-nav>
<!--Home Footer Ends here-->