<div class="container">
    <!--About Header Starts here-->
    <header-nav></header-nav>
    <!--About Header Ends here-->
    <div class="home_heading">Tax Mitigation</div>
    <div class="clearfix"></div>
    <div class="row pbtm_100">
        <div class="col-lg-12">
            <p class="sec_txt">1. <u>Income tax Mitigation</u></p>
            <p class="sec_txt">VFOX takes pride in substantially reducing tax liabilities of successful business owners ( on their regular business income), passive income earners ( rental income, interest/dividend income, K-1 income and W-2 income) and retirees ( taking distributions from their IRA or Pension accounts).</p>
            <p class="sec_txt">2. <u>Capital Gains Tax Mitigation</u></p>
            <p class="sec_txt">VFOX also helps people selling their highly appreciated assets like business, commercial and residential properties, precious metals, etc. in deferring the capital gains tax for 30 years.  This works as a 1031 alternative which can not be used for sale of business or residential property.</p>
            <p class="sec_txt">3. <u>Estate Tax Mitigation </u></p>
            <p class="sec_txt">VFOX  helps  wealthy families with taxable estate of $10M+ in reducing estate taxable for estate tax and also help them provide for estate tax liabilities for pennies on the dollar thus reducing the tax burden substantially with no out of pocket costs.</p></div>
    </div>
</div>
<!--Home Footer Starts here-->
<div class="home_footer m_home_footer"></div>
<!--Home Footer Ends here-->