<div class="container">
    <!--Home Header Starts here-->
    <header-nav></header-nav>
    <!--Home Header Ends here-->
    <div class="row pbtm_100">
        <!--Home Left Container Starts here-->
        <div class="col-lg-8 col-md-7">
            <div class="home_heading">Welcome to VFOX<br/> (Virtual Family Office Exchange)</div>
            <div class="clearfix"></div>
            <p class="home_txt">Preservation and Enhancement of Wealth</p>
            <p class="sec_txt">The Disruptive Wealth Management Platform for Private Wealth<br/>(Individuals, Families & Corporations)</p>
            <p class="sec_txt">VFOX allows private wealth managers enhance their services by partnering with other service providers. Check out the extensive list of services offered through partnerships in the ‘Services’ section.</p>
            <div class="clearfix"></div>
            <p class="home_video">
                <iframe src="https://www.youtube.com/embed/gn9tXExs20Q" border="0">
                </iframe>
                <!--<img src="assets/img/video_placholder.png" alt="Video"/>-->
            </p>
        </div>
        <!--Home Left Container Ends here-->
        <!--Home Right Container Starts here-->
        <div class="col-lg-4 col-md-5">
            <div class="card reg_card">
                <div class="card-body reg_form">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="error" style="color:#ff9800">{{errorMsg}}</div>
                        <div class="form-group">
                            <label for="inputEmail">{{'EMAIL' | translate}}</label>
                            <input formControlName="username" maxlength="100" type="email" id="inputEmail"
                                   class="form-control"
                                   placeholder=""
                                   required autofocus>
                            <p class="erros-msg"
                               *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                                {{'EMAIL_Validate' | translate}}</p>

                            <p class="erros-msg"
                               *ngIf="loginForm.get('username').hasError('invalidEmailAddress')">{{'EMAIL_Invalid' |
                                translate}}</p>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">{{'PASSWORD' | translate}}</label>
                            <input formControlName="password" maxlength="20" type="password" id="inputPassword"
                                   class="form-control"
                                   placeholder=""
                                   required>
                            <p class="erros-msg"
                               *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                                {{'PASS_Req' | translate}}</p>
                            <p class="erros-msg"
                               *ngIf="loginForm.get('password').hasError('invalidPassword')">{{'PASS_Policy' |
                                translate}}</p>
                        </div>
                        <button class="btn btn-lg btn-outline-primary btn-outline-purple btn-block mtop_34"
                                type="submit" [disabled]="loginForm.invalid">{{'LOGIN' | translate}}
                        </button>
                        <div class="clearfix"></div>
                        <p class="alrdy_txt mtop_34">{{'NEW_Acc' | translate}}<br/>
                            <a [routerLink]="['/home']">{{'REG_Here' | translate}}</a>
                        </p>
                    </form>
                </div>

            </div>
        </div>
        <!--Home Right Container Ends here-->
    </div>
</div>
<!--Home Footer Starts here-->
<footer-nav></footer-nav>
<!--Home Footer Ends here-->


