<div class="container">
    <!--About Header Starts here-->
    <header-nav></header-nav>
    <!--About Header Ends here-->
    <div class="home_heading text-center">VFOX Founding Team</div>
    <div class="clearfix">&nbsp;</div>
    <div class="row pbtm_100">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle founder_img" src="assets/img/harshad.jpg" alt="Harshad Shah placeholder image"
                 width="140" height="140">
            <div class="clearfix">&nbsp;</div>
            <h2><strong>Harshad Shah</strong><br/>
                <small><u>President</u></small>
            </h2>
            <p class="static_text">With background in tax, Harshad has helped his income clients with sophisticated tax
                mitigation solutions. With the tax planning skills developed over decades, Harshad has honed an
                outside-the-box approach to solving complicated tax issues.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle founder_img" src="assets/img/james.jpg" alt="James Petrinovich placeholder image"
                 width="140" height="140">
            <div class="clearfix">&nbsp;</div>
            <h2><strong>James Petrinovich</strong><br/>
                <small><u>Vice President</u></small>
            </h2>
            <p class="static_text">James has focused on helping HNW clients with advanced insurance and tax strategies.
                Along with his vast network of sophisticated consultants, he has created extra value to other advisors
                by delivering solutions that help their highest net worth clients.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle founder_img" src="assets/img/sanjeev.jpg"
                 alt="James Petrinovich placeholder image" width="140" height="140">
            <div class="clearfix">&nbsp;</div>
            <h2><strong>Sanjeev Chitre</strong><br/>
                <small><u>Chairman</u></small>
            </h2>
            <p class="static_text">Sanjeev has had a successful career of starting, growing and executing the liquidity
                of several major small and medium size companies. As a Founder/CEO of IPEC, he grew the company revenues
                from $1M to $450M in 5 years with a market cap of $1.2B.</p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>
<!--Home Footer Starts here-->
<div class="home_footer m_home_footer"></div>
<!--Home Footer Ends here-->