<div class="container">
    <!-- Header Starts here-->
    <header-nav></header-nav>
    <!-- Header Ends here-->
    <div class="home_heading">What we do</div>
    <div class="clearfix"></div>
    <p class="sec_txt">VFOX (Virtual Family Office Exchange) is a one-stop shop for trusted advisors of HNW (High Net Worth) families. A family is considered a HNW family if the total worth is in the range $20M to $200 Million. Families that are worth over $200M usually have a SFO (Single Family Office) or MFO (Multiple Family Offices) to manage their assets. The HNW families cannot afford to have a dedicated SFO to manage their wealth. That's where VFOX comes in! Our platform allows creation of a  "Virtual" Family Office (VFO) that provides many elite planning services which are only available through SFOs & MFOs.</p>
    <p class="sec_txt">The specialized trusted advisors of HNWs (such as CPAs, Estate Planning Attorneys, Insurance Advisors & more) can use our Dashboard to extend their portfolio of services. Here's a list of few tasks that can be performed using our platform:</p>
    <p class="sec_txt">
        <li>Connect with many other Service Providers to provide services such as "Asset Protection", "Trust Services" & many more! These Service Providers are hand-picked by us based on their knowledge, performance & expertise in their respective field.</li>
        <li>Create a personalized (private labeled) Website with your preferred 'sub domain' name such as 'mydomain.vfoexchange.com'.</li>
        <li>Maintain a database of your users (clients) who can securely access information on your website.</li>
        <li>Customize your website with help from our experts.</li>
    </p>
    <p class="sec_txt">If you need additional information or have questions about our services please feel free to 'Contact Us' at: <b>Add link to 'Contact Us' page</b></p>
    <p class="sec_txt">If you're already excited & would like to start exploring our dashboard, please 'Register' at: <b>Add link to Registration.</b></p>
</div>
<!-- Footer Starts here-->
<div class="home_footer m_home_footer"></div>
<!--Footer Ends here-->