<div class="container">
    <!-- Header Starts here-->
    <header-nav></header-nav>
    <!-- Header Ends here-->
    <div class="home_heading">What we do</div>
    <div class="clearfix"></div>
    <p class="home_txt">Lorem ipsum dolor sit amet, consectetur adipscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p class="home_txt">Lorem ipsum dolor sit amet, consectetur adipscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p class="home_txt">Lorem ipsum dolor sit amet, consectetur adipscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p class="home_txt">Lorem ipsum dolor sit amet, consectetur adipscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div>
<!-- Footer Starts here-->
<div class="home_footer m_home_footer"></div>
<!--Footer Ends here-->