<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card started_bg">
                <div class="card-body">
                    <form [formGroup]="PersonalizeForm" (ngSubmit)="onSubmit()" class="maintain_web">
                        <div class="row mbtm_37">
                            <div class="col-12 col-lg-8">
                                <div class="def_head"><img src="assets/img/per_web_grey.png"/> Personalize Website</div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <button class="btn btn-lg btn-outline-primary btn-purple float-right"
                                        type="submit" [disabled]="PersonalizeForm.invalid">Save & Continue
                                </button>
                            </div>
                        </div>
                            <!-- <form> -->
                                <div class="form-row">
                                <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Header <span class="astric">*</span></label>
                                    <div class="col-sm-6">
                                    <input class="form-control" formControlName="pageHeader" placeholder="" maxlength="100">
                                        <p class="erros-msg"
                                        *ngIf="PersonalizeForm.get('pageHeader').hasError('required') && PersonalizeForm.get('pageHeader').touched">
                                        Header is required</p>
                                    </div>
                                </div>
                                </div>
                                    <div class="col-lg-2"></div>
                                <div class="col-lg-5">
                                    <div class="form-group row">
                                        <label class="col-sm-6 col-form-label">Description <span class="astric">*</span></label>
                                        <div class="col-sm-6">
                                            <textarea formControlName="description" class="form-control" maxlength="150"></textarea>
                                            <p class="erros-msg" *ngIf="PersonalizeForm.get('description').hasError('required') && PersonalizeForm.get('description').touched">
                                            Description is required</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Upload Logo <span class="astric">*</span></label>
                                            <div class="col-sm-6">
                                                <div class="custom-file">
                                                    <input type="file" (change)="onFileChanged($event)" accept="image/x-png,image/gif,image/jpeg,image/jpg"  formControlName="uploadLogo" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">{{fileName}}</label>
                                                    <p class="erros-msg" *ngIf="PersonalizeForm.get('uploadLogo').hasError('required') && PersonalizeForm.get('uploadLogo').touched && !filecheck">
                                                        Please choose logo</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Advisor’s Website Link</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" formControlName="websiteLink" placeholder="" maxlength="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Choose color scheme</label>
                                            <div class="col-sm-6">
                                                <select class="custom-select" formControlName="colorScheme">
                                                    <option *ngFor="let value of colorSchemeType" value="{{value.key}}" >{{value.value}}</option>
                                                 </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Choose a Domain name <span class="astric">*</span></label>
                                            <div class="col-sm-6">
                                                <input class="form-control" formControlName="domainName" placeholder="" maxlength="100">
                                                <p class="erros-msg" *ngIf="PersonalizeForm.get('domainName').hasError('required') && PersonalizeForm.get('domainName').touched">
                                                    Domain Name is required</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </form> -->
                    </form>
                </div>
            </div>
        </div>
    </div>