<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card started_bg">
                <div class="card-body">
                    <!-- <form class="maintain_web"> -->
                        <div class="row mbtm_37">
                            <div class="col-12 col-lg-8">
                                <div class="def_head"><img src="assets/img/per_web_grey.png"/> View Personalize Website
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <button class="btn btn-lg btn-outline-primary btn-purple float-right" [routerLink]="['/dashboard/maintainwebsite/editpersonalize']">edit
                                </button>
                            </div>
                        </div>
                        <!-- <form> -->
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Header <span class="astric">*</span></label>
                                    <div class="col-sm-6 form-control-plaintext">
                                        {{viewHeader}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Description <span
                                            class="astric">*</span></label>
                                    <div class="col-sm-6 form-control-plaintext">
                                        {{viewDescription}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Upload Logo <span
                                            class="astric">*</span></label>
                                    <div class="col-sm-6 form-control-plaintext">
                                        <ng-template #popTemplate><img src="data:image/png;base64,{{viewLogo}}" class="img-fluid"/><div [innerHtml]="html"></div></ng-template>
                                        <a [popover]="popTemplate" triggers="mouseenter:mouseleave" [routerLink]="['/dashboard/maintainwebsite/viewpersonalize']">View Logo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Advisor’s Website Link</label>
                                    <div class="col-sm-6 form-control-plaintext">
                                        {{viewWebsiteLink}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Choose color scheme</label>
                                    <div class="col-sm-6 form-control-plaintext">
                                        {{viewColourScheme}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Choose a Domain name <span
                                            class="astric">*</span></label>
                                    <div class="col-sm-6 form-control-plaintext">
                                        {{viewDomainName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>