<!--Home Header Starts here-->
<div *ngIf="currentUser">
        <nav class="top_nav">
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop"/>
            <ul class="menu">
                <li><a [routerLink]="['/dashboard/selectservices']" [routerLinkActive]="['active']">Dashboard</a></li>
                <li><a [routerLink]="['/whatwedo']" [routerLinkActive]="['active']">What we do</a></li>
                <li><!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle mob_l_20">Services <i class="fa fa-caret-down"></i></label>
                    <a [class.active]="router.isActive('/service/insurance') || router.isActive('/service/investment') || router.isActive('/service/tax_mitigation') || router.isActive('/service/qualified_leverage')">Services <i class="fa fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li>
                            <!-- Second Tier Drop Down -->
                            <label for="drop-3" class="toggle" [routerLink]="['/service/tax_mitigation']" [routerLinkActive]="['active']">Tax Mitigation <i class="fa fa-caret-down"></i></label>
                            <a [routerLink]="['/service/tax_mitigation']" [routerLinkActive]="['active']">Tax Mitigation <i class="fa fa-caret-down"></i></a>
                            <input type="checkbox" id="drop-3"/>
                            <ul>
                                <li> <a class="dis_link">Business Income</a> </li>
                                <li> <a class="dis_link">Other Income</a> </li>
                                <li> <a class="dis_link">Capital Gains</a> </li>
                                <li> <a class="dis_link">Estate</a> </li>
                            </ul>
                        </li>
                        <li> <a [routerLink]="['/service/insurance']" [routerLinkActive]="['active']">Insurance</a> </li>
                        <li> <a [routerLink]="['/service/investment']" [routerLinkActive]="['active']">Alternative Investment</a> </li>
                        <li> <a class="dis_link">Bill Pay</a> </li>
                        <li> <a class="dis_link">Wealth Management</a> </li>
                        <li> <a class="dis_link">Asset Protection</a> </li>
                        <li> <a class="dis_link">Trust Services</a> </li>
                        <li> <a class="dis_link">Business Valuation</a> </li>
                        <li> <a class="dis_link">Cost Remediation</a> </li>
                        <li> <a class="dis_link">Business Transition</a> </li>
                        <li> <a class="dis_link">Charitable Strategies</a> </li>
                        <li> <a class="dis_link">Concierge Services</a> </li>
                        <li> <a [routerLink]="['/service/qualified_leverage']" [routerLinkActive]="['active']" >Qualified Leverage Strategy</a> </li>
                    </ul></li>
    
                <li><a [routerLink]="['/aboutus']" [routerLinkActive]="['active']">About Us</a></li>
                <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact Us</a></li>
                <li><a (click)="logout()" class="m-r-0">Sign Out</a></li>
            </ul>
        </nav>
        <div class="d-flex flex-column flex-md-row align-items-center home_header">
            <h5 class="my-0 mr-md-auto"> <img src="assets/img/vfox_logo.png" alt="VFOX"/> </h5>
            <div class="user_profile"> <img src="assets/img/default_profile.png" alt="Profile" class="float-left"/>
                <div class="float-left welcome_top">Welcome {{currentUser.userName}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="!currentUser">
        <nav class="top_nav">
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop"/>
            <ul class="menu">
                <li><a [routerLink]="['/login']" [routerLinkActive]="['active']">Home</a></li>
                <li><a [routerLink]="['/whatwedo']" [routerLinkActive]="['active']">What we do</a></li>
                <li><!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle mob_l_20">Services <i class="fa fa-caret-down"></i></label>
                    <a [class.active]="router.isActive('/service/insurance') || router.isActive('/service/investment') || router.isActive('/service/tax_mitigation') || router.isActive('/service/qualified_leverage')">Services <i class="fa fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li>
                            <!-- Second Tier Drop Down -->
                            <label for="drop-3" class="toggle" [routerLink]="['/service/tax_mitigation']" [routerLinkActive]="['active']">Tax Mitigation <i class="fa fa-caret-down"></i></label>
                            <a [routerLink]="['/service/tax_mitigation']" [routerLinkActive]="['active']">Tax Mitigation <i class="fa fa-caret-down"></i></a>
                            <input type="checkbox" id="drop-3"/>
                            <ul>
                                <li> <a class="dis_link">Business Income</a> </li>
                                <li> <a class="dis_link">Other Income</a> </li>
                                <li> <a class="dis_link">Capital Gains</a> </li>
                                <li> <a class="dis_link">Estate</a> </li>
                            </ul>
                        </li>
                        <li> <a [routerLink]="['/service/insurance']" [routerLinkActive]="['active']">Insurance</a> </li>
                        <li> <a [routerLink]="['/service/investment']" [routerLinkActive]="['active']">Alternative Investment</a> </li>
                        <li> <a class="dis_link">Bill Pay</a> </li>
                        <li> <a class="dis_link">Wealth Management</a> </li>
                        <li> <a class="dis_link">Asset Protection</a> </li>
                        <li> <a class="dis_link">Trust Services</a> </li>
                        <li> <a class="dis_link">Business Valuation</a> </li>
                        <li> <a class="dis_link">Cost Remediation</a> </li>
                        <li> <a class="dis_link">Business Transition</a> </li>
                        <li> <a class="dis_link">Charitable Strategies</a> </li>
                        <li> <a class="dis_link">Concierge Services</a> </li>
                        <li> <a [routerLink]="['/service/qualified_leverage']" [routerLinkActive]="['active']" >Qualified Leverage Strategy</a> </li>
                    </ul></li>
    
                <li><a [routerLink]="['/aboutus']" [routerLinkActive]="['active']">About Us</a></li>
                <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact Us</a></li>
            </ul>
        </nav>
        <div class="d-flex flex-column flex-md-row align-items-center home_header">
            <h5 class="my-0 mr-md-auto"> <img src="assets/img/vfox_logo.png" alt="VFOX"/> </h5>
            <a *ngIf="router.url == '/home'" class="btn btn-outline-primary btn-outline-white" [routerLink]="['/login']">{{'LOGIN'
                | translate}}</a> <a *ngIf="router.url != '/home'" class="btn btn-outline-primary btn-outline-white" [routerLink]="['/home']">{{'REGISTER'
            | translate}}</a> </div>
    </div>
    <!--Home Header Ends here-->