<div class="home_heading">{{ServiceName}}</div>
<div class="clearfix"></div>
<p class="home_txt">We recommend the following institutions for this category. Click on 'Learn More' link to learn more about them.
</p>
<div class="clearfix mt_45"></div>
<div class="row" >
    <div class="col-lg-6 mb-4" *ngFor="let provider of providers">
        <div class="card h-100">
            <div class="card-body ins_body justify-content-center align-items-center">
                <div class="row">
                    <div class="col-lg-4 ins_img">
                            <img *ngIf="provider.name=='Cool Springs Financial'" src="assets/img/service_provider/coolsprings.png" class="img-fluid"/>
                            <img *ngIf="provider.name=='Restricted Property Trust'" src="assets/img/service_provider/restricted.jpg" class="img-fluid"/>
                            <img *ngIf="provider.name=='Ornstein-Schuler Investments'" src="assets/img/service_provider/ornstein.jpg" class="img-fluid"/>
                            <img *ngIf="provider.name=='Stryde'" src="assets/img/service_provider/stryde.png" class="img-fluid"/>
                            <img *ngIf="provider.name=='South Dakota Trust Company'" src="assets/img/service_provider/sdtc.png" class="img-fluid"/>
                            <img *ngIf="provider.name=='Capital Group'" src="assets/img/service_provider/capitalgroup.png" class="img-fluid"/>
                        <!-- <img src="data:image/png;base64,{{provider.logo}}" class="img-fluid"/>-->
                    </div> 
                    <div class="col-lg-8"><p class="ins_desc min_150">{{provider.longDesc}}</p>
                        <p class="lrn_more"><a href="{{provider.redirectUrl}}" target="_blank" (click)="addBilling(provider)" >Learn more &gt;</a></p></div>
                </div>
            </div>
        </div>
    </div>

</div>
