<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card started_bg">
                <div class="card-body">
                    <form [formGroup]="ChangePassForm" (ngSubmit)="onSubmit()" class="maintain_web">
                        <div class="row mbtm_37">
                            <div class="col-12 col-lg-8">
                                <div class="def_head"><img src="assets/img/add_cli_grey.png"/> Change Password</div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <button class="btn btn-lg btn-outline-primary btn-purple float-right"
                                        type="submit" [disabled]="ChangePassForm.invalid">Add & Continue
                                </button>
                            </div>
                        </div>
                        <!-- <form> -->
                        <div class="form-row">
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label" for="inputEmail"> Current Password <span class="astric">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="password" formControlName="currPassword" maxlength="100" id="inputEmail"
                                               class="form-control"
                                               placeholder=""
                                               required autofocus>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label" for="inputPassword">New Password <span class="astric">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="password" formControlName="password" maxlength="20" id="inputPassword"
                                               class="form-control"
                                               placeholder=""
                                               required>
                                        <p class="erros-msg"
                                           *ngIf="ChangePassForm.get('password').hasError('required') && ChangePassForm.get('password').touched">
                                            {{'PASS_Req' | translate}}</p>
                                        <p class="erros-msg"
                                           *ngIf="ChangePassForm.get('password').hasError('invalidPassword')">{{'PASS_Policy' |
                                            translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label for="inputPassword2" class="col-sm-6 col-form-label">{{'CONFIRM_PASS' | translate}} <span class="astric">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="password" formControlName="confirmPassword" id="inputPassword2"
                                               class="form-control" placeholder=""
                                               required>
                                        <p class="erros-msg"
                                           *ngIf="ChangePassForm.get('confirmPassword').hasError('required') && ChangePassForm.get('confirmPassword').touched">
                                            {{'PASS_Confirm' | translate}}</p>
                                        <p class="erros-msg"
                                           *ngIf="ChangePassForm.hasError('mismatchedPasswords')">{{'PASS_Match' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5"></div>
                        </div>
                        <!-- </form> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>